.calculator__columns {
  display: flex;
  justify-content: center;
}

.calculator__mortrage,
.calculator__rent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;

  @include media-md {
    width: 34rem;
  }

  @include media-sm {
    width: 100%;
    max-width: 34rem;
  }
}

.calculator__mortrage {
  margin-right: 0.5rem;
}

.calculator__rent {
  margin-left: 0.5rem;
}

.calculator__input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

.calculator__input-name {
  margin-bottom: 0.5rem;
}

.calculator__input {
  width: 20rem;
  height: 4rem;
  color: $color-1;
  text-align: center;
  background-color: $color-2;
  border: none;
  border-radius: 2rem;
  outline: none;
  appearance: textfield;

  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.calculator__input--adaptive {
  @include media-sm {
    width: 15rem;
  }
}

.calculator__slider {
  width: 17rem;
  height: 1rem;
  margin-top: 0;
  background: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  &::-webkit-slider-thumb {
    @include slider-thumb;
  }

  &::-moz-range-thumb {
    @include slider-thumb;
  }

  &::-ms-thumb {
    @include slider-thumb;
  }

  &::-webkit-slider-runnable-track {
    @include slider-track;
  }

  &::-moz-range-track {
    @include slider-track;
  }

  &::-ms-track {
    @include slider-track;
  }
}

.calculator__slider--adaptive {
  @include media-sm {
    width: 12.75rem;
  }
}

.calculator__result {
  padding-bottom: 1rem;
  text-align: center;
}
